.container{
  min-height: 100vh;
  background: #e0dcdc;
}

.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.post{
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 100ms ease-in-out;
}

.post:hover{
  transform: scale(1.08)
}

.post img{
  max-width: 100%;
}
.post-content{
  padding: 20px;
}

button{
  background: darkblue;
  color: white;
  padding: 15px;
  border: none;
  width: 80%;
  margin: 20px 10%;
  cursor: pointer;
}

button:disabled{
  background: #777;
  cursor: not-allowed;
}

input{
  margin: 20px 25%;
  width: 50%;
  padding: 10px;
}